@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f6f6f6;
}

button {
    font-family: "Rubik", sans-serif;
    background-color: transparent;
    border: 1px solid white;
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    height: 50px;
    transition: 0.5s ease;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #767676;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}

.container .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container .introduce {
    display: flex;
    position: relative;
    width: 40%;
    height: 100%;
    z-index: 20;
}

.introduce .wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 0 25px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none;
}

.introduce .wrapper span {
    overflow: hidden;
}

.introduce .wrapper span>* {
    transition: 0.5s ease;
    opacity: 0;
    transform: translateY(300px);
    transition-delay: calc((3 - var(--idx)) * 0.1s);
}

.introduce .wrapper.active {
    pointer-events: all;
}

.introduce .wrapper.active span>* {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--idx) * 0.1s);
}

.introduce:not(.place) {
    font-family: "Rubik", sans-serif;
}

.introduce .country {
    font-size: 3vw;
    font-weight: 400;
}

.introduce .place {
    font-family: "Bebas Neue", sans-serif;
    font-size: 10vw;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 1px;
    margin-top: 10px;
    padding: 0px 25px 5px 0px;
}

.introduce .describe {
    font-size: 1.5em;
    margin-top: 5px;
    font-weight: 400;
    padding: 0px 25px 5px 0px;  
}

.introduce .discover-button {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    margin-top: 20px;
}

.content .thumbnail-list {
    position: relative;
    height: 300px;
    flex: 1;
}

.thumbnail-list .wrapper {
    position: relative;
    z-index: 10;
    height: 300px;
}

.thumbnail-list .wrapper .thumbnail {
    position: absolute;
    height: 300px;
    width: 200px;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.75s cubic-bezier(0.6, 0.1, 0.3, 1);
    transform: translateX(calc(var(--idx) * 230px));
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.thumbnail-list .wrapper .thumbnail.zoom {
    width: 125vw;
    height: 125vh;
    transform: translate(-50%, -50%);
    filter: brightness(40%);
    box-shadow: none;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .navigation {
    margin-left: 40%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 50px 50px 50px 0;
    z-index: 20;
}

.navigation .next-button {
    width: 180px;
    border-radius: 50px;
}

.navigation .line {
    flex: 1;
    height: 2px;
    background-color: #fff;
}

.navigation .ordinal-number {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.ordinal-number h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    transform: translateY(200%);
    transition: 0.5s ease;
}

.ordinal-number h2.active {
    transform: unset;
}

/* Media queries */

@media screen and (max-width: 1024px) {
    .container .navigation {
        margin-left: 40%;
        justify-content: center;
    }

    .introduce .wrapper {
        display: revert;
    }

    .introduce .country {
        font-size: 2rem;
        font-weight: 400;
    }
    
    .introduce .place {
        font-family: "Bebas Neue", sans-serif;
        font-size: 6.5rem;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1.1;
        letter-spacing: 1px;
        margin-top: 10px;
    }
    
    .introduce .describe {
        font-size: 2vw;
        margin-top: 5px;
        font-weight: 400;
    }
}

@media screen and (max-width: 768px) {
    .container .navigation {
        margin-left: 40%;
        justify-content: center;
    }

    .introduce .discover-button {
        width: 25vw;
        height: 50px;
        border-radius: 50px;
        margin-top: 20px;
        font-size: 2vw;
    }

    .introduce .wrapper {
        display: revert;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: fit-content;
        padding: 0 25px 0 50px;
        pointer-events: none;
    }

    .introduce .country {
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    .introduce .place {
        font-family: "Bebas Neue", sans-serif;
        font-size: 6rem;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1.1;
        letter-spacing: 1px;
        margin-top: 10px;
    }
    
    .introduce .describe {
        font-size: 2.3vw;
        margin-top: 5px;
        font-weight: 400;
    }

    .thumbnail-list .wrapper .thumbnail {
        position: absolute;
        height: 300px;
        width: 200px;
        margin-right: 10px; /* Margen de 10px a la derecha */
        border-radius: 15px;
        overflow: hidden;
        transition: 0.75s cubic-bezier(0.6, 0.1, 0.3, 1);
        transform: translateX(calc(var(--idx) *230px));
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    }
    
}

/* ---------------- CODIGO ORIGINAL CON DIMENSIONES 1280X720PX --------------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f6f6f6;
}

button {
    font-family: "Rubik", sans-serif;
    background-color: transparent;
    border: 1px solid white;
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    height: 50px;
    transition: 0.5s ease;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}

.container {
    position: relative;
    width: 1280px;
    height: 720px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #767676;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}

.container .content {
    width: 100%;
    display: flex;
}

.container .introduce {
    position: relative;
    width: 40%;
    height: 100%;
    z-index: 20;
}

.introduce .wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 0 25px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none;
}

.introduce .wrapper span {
    overflow: hidden;
}

.introduce .wrapper span > * {
    transition: 0.5s ease;
    opacity: 0;
    transform: translateY(300px);
    transition-delay: calc((3 - var(--idx)) * 0.1s);
}

.introduce .wrapper.active {
    pointer-events: all;
}

.introduce .wrapper.active span > * {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--idx) * 0.1s);
}

.introduce:not(.place) {
    font-family: "Rubik", sans-serif;
}

.introduce .country {
    font-size: 1.5rem;
    font-weight: 400;
}

.introduce .place {
    font-family: "Bebas Neue", sans-serif;
    font-size: 5.5rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 1px;
    margin-top: 10px;
}

.introduce .describe {
    font-size: 1rem;
    margin-top: 8px;
    font-weight: 300;
}

.introduce .discover-button {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    margin-top: 20px;
}

.content .thumbnail-list {
    position: relative;
    height: 300px;
    flex: 1;
}

.thumbnail-list .wrapper {
    position: relative;
    z-index: 10;
    height: 300px;
}

.thumbnail-list .wrapper .thumbnail {
    position: absolute;
    height: 300px;
    width: 200px;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.75s cubic-bezier(0.6, 0.1, 0.3, 1);
    transform: translateX(calc(var(--idx) *230px));
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.thumbnail-list .wrapper .thumbnail.zoom {
    width: 1280px;
    height: 720px;
    transform: translate(-512px, -270px);
    filter: brightness(40%);
    box-shadow: none;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .navigation {
    margin-left: 40%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 50px 50px 50px 0;
    z-index: 20;
}

.navigation .next-button {
    width: 180px;
    border-radius: 50px;
}

.navigation .line {
    flex: 1;
    height: 2px;
    background-color: #fff;
}

.navigation .ordinal-number {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.ordinal-number h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    transform: translateY(200%);
    transition: 0.5s ease;
}

.ordinal-number h2.active {
    transform: unset;
}
*/